table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-width: 160pxs;
}
.adjust-update-link{
    margin-left: 10px;
}
.product-list{
   margin-left: 90px;
}
.product-list h1{
    /* font-size: 50px; */
    /* justify-content: center; */
    margin-left: 8.5em;
    /* text-overflow: calc(30px 10% 100px); */
}